---
---

/* http://www.materialpalette.com/blue/grey */
$accent-color: #9E9E9E;
$light-primary-color: #BBDEFB;
$lightest-primary-color: #e2e2e2;
$dark-primary-color: #1976D2;
$primary-color: #2196F3;
$primary-text: #212121;
$text-icons: #FFFFFF;

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
body {
  margin: 0;
  background-color: $light-primary-color;
  color: $primary-text;
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
}
a, a:visited {
  color: $dark-primary-color;
  text-decoration: none;
}
#svgHeader {
  width: 100%;
  height: 300px;
  box-shadow: 0 0.1em 1em $primary-text;
  z-index: 2;
  position: relative;
}
h1 {
  background-color: $accent-color;
  color: $text-icons;
  position: absolute;
  right: 0;
  top: 25px;
  font-size: 72px;
  padding: 0.1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  box-shadow: 0 0 0.1em $primary-text;
  z-index: 3;
}
h1 a {
  color: inherit;
}
#header ul {
  list-style: none;
  position: absolute;
  right: 0;
  top: 175px;
  z-index: 3;
}
#header li {
  background-color: $accent-color;
  color: $text-icons;
  display: inline;
  font-size: 2em;
  padding: 0.1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  box-shadow: 0 0 0.1em $primary-text;
  margin: 0.1em;
}
.aboutme {
  background-color: $accent-color;
  color: $light-primary-color;
  font-size: 1.5em;
  position: relative;
  top: -4px;
  height: 200px;
  box-shadow: inset 0 -0.5em 0.5em -0.5em $primary-text;
}
.aboutme img {
  float: left;
  margin-right: 2em;
  height: 200px;
}
.aboutme div {
  margin: auto;
  max-width: 960px;
  display: flex;
  align-items: center;
}
.post {
  position: relative;
  z-index: 1;
  flex: 2;
  display: flex;
  max-width: 960px;
  padding: 1em;
  margin: -4px auto;
  background-color: $lightest-primary-color;
  box-shadow: 0 0 0.1em $primary-text;
}
.content iframe, .content img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
.postfooter {
  position: relative;
  z-index: 0;
  top: 0.1em;
}
.navigation {
  max-width: 960px;
  display: flex;
  margin: 0 auto;
}
.prev, .next {
  flex: 1;
}
.next {
  text-align: right;
}
.navigation a {
  background-color: $lightest-primary-color;
  box-shadow: 0 0 0.1em $primary-text; 
  padding: 0.4em;
}
.title {
  flex: 1  0;
  text-align: right;
  padding: 1em;
}
h2 {
  margin: 0;
}
.content {
  flex: 3 0 0 ;
}
#footer {
  background-color: $dark-primary-color;
  color: $text-icons;
  margin-top: 2em;
  padding: 1em;
  box-shadow: inset 0 0.5em 0.5em -0.5em $primary-text;
  font-size: 0.9em;
}
#footer div {
  text-align: right;
  width: 960px;
  margin: 0 auto;
}
#footer a {
  color: #text-icons;
}