---
---

/* http://www.materialpalette.com/blue/grey */
$accent-color: #9E9E9E;
$light-primary-color: #BBDEFB;
$lightest-primary-color: #f2f2f2;
$dark-primary-color: #1976D2;
$primary-color: #2196F3;
$primary-text: #212121;
$text-icons: #FFFFFF;

$desktop-content-width: 960px;
$phone-content-width: 480px;
$desktop-footer-width: $desktop-content-width - 100px;
$header-overflow-height: 40px;
$header-height: 300px;
$header-down-height: -($header-height - $header-overflow-height);
$nav-down-height: $header-height - $header-overflow-height;

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
body {
  margin: 0;
  background-color: $light-primary-color;
  color: $primary-text;
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
}
body.down {
  position: relative;
  top: $header-height;
}
header.down {
  position: fixed;
  left: 0;
  right: 0;
  top: $header-down-height;
  z-index: 999;
}
header {
  -ms-overflow-y: hidden;
  -ms-overflow-x: hidden;
}
a, a:visited {
  color: $dark-primary-color;
}
#svgHeader {
  width: 100%;
  height: $header-height;
  box-shadow: 0 0.1em 1em $primary-text;
  z-index: 2;
  position: relative;
  background-color: #ddd;
}
h1 {
  position: absolute;
  left: 0;
  top: -25px;
  font-size: 72px;
  padding: 0.1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  z-index: 3;
  margin-left: 0.25em;
  text-shadow: 1px 1px $primary-text;
}
h1 a, h1 a:visited {
  color: $text-icons;
  text-decoration: none;
}
nav {
  position: absolute;
  top: $nav-down-height;
  right: 0;
  z-index: 3;
  font-size: 1.5em;
}
#mainNavigation {
  list-style: none;
  margin: 0;
  padding: 0;
}
#mainNavigation li {
  display: inline;
  padding-right: 2em;
}
#mainNavigation a {
  color: $primary-text;
  text-shadow: 1px 1px $text-icons;
  text-decoration: none;
}
#aboutme {
  background-color: $accent-color;
  color: $light-primary-color;
  font-size: 1.5em;
  position: relative;
  top: -4px;
  min-height: 150px;
  box-shadow: inset 0 -0.5em 0.5em -0.5em $primary-text;
  overflow: hidden;
}
#aboutme img {
  float: left;
  margin-right: 2em;
}
#aboutinner {
  margin: auto;
  display: flex;
  align-items: center;
}
.post p {
  margin-right: 1em;
  margin-top: 0;
}
.project, .post {
  position: relative;
  z-index: 1;
  margin: 16px auto;
  background-color: $lightest-primary-color;
  box-shadow: 0 0 0.1em $primary-text;
}
.title {
  border-top: 8px solid $dark-primary-color;
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}
.project .tag {
  background-color: $light-primary-color;
  padding: 4px;
  border-radius: 4px;
}
.project .screenshot {
  max-height: 150px;
  width: 200px;
  overflow: hidden;
}
.project .screenshot img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.project .container {
  align-items: center;
}
.project .container, .post .container {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5em;
}
.project .screenshot, .post .date, .left {
  flex: 1;
  text-align: right;
  margin: 0;
}
.left, .right {
  margin: 0;
  padding: 0;
}
.right {
  padding-top: 8px;
  padding-bottom: 8px;
}
h2 a, h2 a:visited {
  text-decoration: none;
  color: inherit;
}
.project .description, .post .content, .right {
  padding: 0 8px 0 8px;
  flex: 3;
}
.content iframe, .content img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
.blognavigation {
  background-color: $primary-color;
  display: flex;
  margin: 0 auto;
}
.blognavigation .post {
  color: $primary-text;
}
.prev, .next {
  flex: 1;
  padding: 0.5em;
}
.next {
  text-align: right;
}
.content {
  flex: 3 0 0 ;
}
#latest {
  background-color: $accent-color;
  box-shadow: inset 0 0.5em 0.5em -0.5em $primary-text;
}
#blogposts {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex-wrap: wrap;
}
#blogposts .title {
  padding: 0 0.5em 0 0.5em;
}
#blogposts .post {
  margin: 1em;
  flex: 1;
  cursor: pointer;
  min-width: 26%;
}
.readmore {
  display: block;
  padding: 0.5em 0 1em 0;
}
h3 {
  margin: 0 auto;
  text-align: center;
}
footer {
  background-color: $dark-primary-color;
  color: $text-icons;
  padding: 4em;
  box-shadow: inset 0 0.5em 0.5em -0.5em $primary-text;
  font-size: 0.9em;
}
footer .credits {
  text-align: right;
  margin: auto;
}
footer a, footer a:visited {
  color: $text-icons;
}
@media (min-width: $desktop-content-width) { // desktop
  #blogposts {
    width: 100%; 
  }
  #aboutme div, .project, .post, .blognavigation {
    width: $desktop-content-width; 
  }
  footer .credits {
    width: $desktop-footer-width; 
  }
  .blognavigation, #aboutme div, .post container, .project container {
    flex-direction: row;
  }
}
@media (max-width: $desktop-content-width) and (min-width: $phone-content-width) { // tablet
  #blogposts, #aboutme div, .project, .post, .blognavigation {
    width: 100%;
  }
  .blognavigation, #aboutme div, .post container, .project container {
    flex-direction: row;
  }
  #blogposts .post {
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
  .project .screenshot {
    max-width: 100%; 
    height: inherit;
    max-height: 200px;
    margin: auto;
    padding-bottom: 1em;
  }
}
@media (max-width: $phone-content-width) { // phone
  #blogposts, #aboutme div, .project, .post, .blognavigation {
    width: 100%;
  }
  footer .credits {
    width: 80%;
  }
  #blogposts, .blognavigation, #aboutme div, .post .container, .project .container {
    flex-direction: column;
  }
  .left {
    display: none; 
  }
  #blogposts .post {
    margin-left: 0;
    margin-right: 0;
  }
  .project .screenshot {
    max-width: 100%; 
    height: inherit;
    max-height: 200px;
    margin: auto;
    padding-bottom: 1em;
  }
}