---
layout: default
---

<div id="projects">
  
  {% for post in site.posts %}
    {% if post.categories contains 'project' %}
      <div class="project" id="{{ post.title }}">
        
        <div class="title">
          <div class="left"></div>
          <h2 class="right">{{ post.title }}</h2>
        </div>
        
        <div class="container">
          <div class="screenshot">{% if post.screenshot %}<img src="{{ post.screenshot }}">{% endif %}</div>
          <div class="description">
              {% for tag in post.tags %}
                <span class="tag">{{ tag }}</span>
              {% endfor %}
              {{ post.content }}
          </div>
        </div>
        
      </div>
    {% endif %}
  {% endfor %}
  
</div>