/* colours from http://www.materialpalette.com/light-green/brown */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
body {
  margin: 0;
  background-color: #DCEDC8;
  color: #212121;
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
}
a, a:visited {
  color: #33691E;
  text-decoration: none;
}
#svgHeader {
  width: 100%;
  height: 300px;
  box-shadow: 0 0.1em 1em #212121;
  z-index: 1;
  position: relative;
}
h1 {
  background-color: #795548;
  color: #DCEDC8;
  position: absolute;
  right: 0;
  top: 25px;
  font-size: 72px;
  padding: 0.1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  box-shadow: 0 0 0.1em #212121;
  z-index: 2;
}
#header ul {
  list-style: none;
  position: absolute;
  right: 0;
  top: 175px;
  z-index: 2;
}
#header li {
  background-color: #795548;
  color: #DCEDC8;
  display: inline;
  font-size: 2em;
  padding: 0.1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  box-shadow: 0 0 0.1em #212121;
  margin: 0.1em;
}
.post {
  position: relative;
  z-index: 0;
  flex: 2;
  align-self: center;
  display: flex;
  max-width: 960px;
  padding: 1em;
  background-color: #F1F8E9;
  box-shadow: 0 0 0.1em #212121;
}
.title {
  flex: 1  0;
  text-align: right;
  padding: 1em;
}
h2 {
  margin: 0;
}
.content {
  flex: 2 0 0 ;
}
.content img {
  max-width: 100%; 
}
#footer {
  background-color: #C5E1A5;
  color: #727272;
  margin-top: 2em;
  padding: 1em;
  box-shadow: inset 0 0.5em 0.5em -0.5em #212121;
  font-size: 0.9em;
}
#footer div {
  text-align: right;
  width: 960px; 
  margin: 0 auto;
}