<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/snap.svg-min.js"></script>
    <script src="/js/header.js"></script>
  </head>
  <body onload="initHeader();">
    <header id="header">
      <h1><a href="/">Malcolm Crum</a></h1>
      <svg id="svgHeader"></svg>
      <nav>
        <ul id="mainNavigation">
          <li><a href="/index.html#aboutme">About Me</a></li>
          <li><a href="/index.html#projects">Projects</a></li>
          <li><a href="/index.html#recentblogposts">Blog</a></li>
        </ul>
      </nav>
    </header>
    
    {{ content }}
    
    <h3>RECENT BLOG POSTS</h3>
    <div id="recentBlogPosts">
      {% for category in site.categories %}
        {% if category contains 'blog' %}
          {% for posts in category %}
            {% for post in posts limit:3 %}
              {% if post.title %}
                <div class="post">
                  <div class="title">
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                  </div>
                  <div class="content">
                    {{ post.excerpt }}
                    <span class="readmore"><a href="{{ post.url }}">Read More...</a></span>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>

    <footer>
      <div class="credits">
        I made this website.<br>
        Find me on: <a href="mailto:crummynz@gmail.com">Email</a>, <a href="http://www.twitter.com/crummy">Twitter</a>, <a href="http://www.github.com/crummy">Github</a>
      </div>
    </footer>
  </body>
  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22950801-1', 'auto');
  ga('send', 'pageview');

  </script>
  
</html>