---
layout: default
---

<div class="post">
  <div class="title">
    {% if page.title %}
      <h2><a href="{{ post.url }}">{{ page.title }}</a></h2>
      {% if page.date %}<div class="date">{{ page.date | date_to_string }}</div>{% endif %}
    {% endif %}
    {% if post.title %}
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {% if post.date %}<div class="date">{{ post.date | date_to_string }}</div>{% endif %}
    {% endif %}
  </div>
  <div class="content">
    {{ content }}
  </div>
</div>

<div class="postfooter">
  <div class="navigation">
    {% if page.previous.url %}
      <div class="prev">
        <a href="{{page.previous.url}}">< {{ page.previous.title }}</a>
      </div>
    {% endif %}
    {% if page.next.url %}
      <div class="next">
        <a href="{{page.next.url}}">{{ page.next.title}} ></a>
      </div>
    {% endif %}
  </div>
</div>