---
layout: default
---

<div class="post">
  <div class="title">
      <div class="left"></div>
      <h2 class="right"><a href="{{ post.url }}">{{ page.title }}</a></h2>
  </div>
  
  <div class="container">
    <div class="date">{{ page.date | date_to_string }}</div>
    <div class="content">
      {{ content }}
    </div>
  </div>
</div>

<div class="postfooter">
  <div class="navigation">
    {% if page.previous.url %}
      <div class="prev">
        <a href="{{page.previous.url}}">< {{ page.previous.title }}</a>
      </div>
    {% endif %}
    {% if page.next.url %}
      <div class="next">
        <a href="{{page.next.url}}">{{ page.next.title}} ></a>
      </div>
    {% endif %}
  </div>
</div>